@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 43 96% 56%;
    --primary-foreground: 210 40% 98%;

    --background: 210 40% 98%;
    --background-foreground: 222 47% 11%;
  }

  :root[data-mode="dark"] {
    --background: 222 47% 11%;
    --background-foreground: 210 40% 98%;
  }

  body {
    @apply bg-background text-background-foreground
  }
}

@layer utilities {
  .thin-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-200 scrollbar-thumb-rounded-xl;
  }
}
